<ng-template [ngIf]="disperseResult==true" [ngIfElse]="noResults">
    <div style="padding: 50px 50px 50px 50px; width: 600px;">
        <table style="height:50px; width: 600px;">
            <tr>
                <th *ngFor="let item of myArray; let i = index"
                    [ngStyle]="{
                        'background-color': isOdd(i) ? 'lightblue' : 'blue', 
                        'width': isOdd(i) ? oddBlockWidth.toString()+'%' : evenBlockWidth.toString()+'%'
                    }"
                    (click)="updateParent(i)"
                >
                    <ng-template [ngIf]="isOdd(i)" [ngIfElse]="even">
                        <div>
                            {{oddInteger}}
                        </div>
                    </ng-template>
                        
                    <ng-template #even>
                        <div>
                            {{evenInteger}}
                        </div>
                    </ng-template>
                </th>

            </tr>
        </table>
    </div>
</ng-template>

<ng-template #noResults>
    <div style="padding: 50px 50px 50px 50px; width: 600px;">
        <h2 style="color: brown;">
            not able to disperse
        </h2>
    </div>
</ng-template>
