<div style="padding: 50px 50px 50px 50px;">

    <mat-form-field appearance="fill" style="padding-right: 5px;">
      <mat-label>N Parameter</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-right: 5px;">
      <mat-label>S Parameter</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-right: 5px;">
      <mat-label>K Parameter</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary">Start</button>


  </div>

  <app-detail>
  </app-detail>