<div style="padding: 50px 50px 50px 50px;">

    <h3>
        Selected block index: {{selectedBlock}}
    </h3>

    <mat-form-field  appearance="fill" style="padding-right: 5px;" >
      <mat-label>N Parameter</mat-label>
      <input [(ngModel)]="n" matInput >
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-right: 5px;" name="s">
      <mat-label>S Parameter</mat-label>
      <input [(ngModel)]="s" matInput >
    </mat-form-field>
    <mat-form-field appearance="fill" style="padding-right: 5px;" name="k">
      <mat-label>K Parameter</mat-label>
      <input [(ngModel)]="k" matInput >
    </mat-form-field>

  </div>

  <app-detail [n]="n" [s]="s" [k]="k" (selectedBlockUpdate)="selectedBlockUpdate($event)">
  </app-detail>